    <header class="col-12">
      <div id="socials">
        <a href="https://www.instagram.com/"><img src="/Imagens/instagram.png" class="icon" alt=""/></a>
        <a href="https://www.tiktok.com/login"><img src="/Imagens/tik-tok.png" class="icon" alt=""/></a>
        <a href="https://www.facebook.com/?locale=pt_BR"><img src="/Imagens/facebook-app-symbol.png" class="icon" alt=""/></a>
        <a href="https://x.com/?lang=pt" alt=""><img src="/Imagens/twitter.png" class="icon" alt=""/></a>
        <span>@party.com</span>
      </div>
      <nav>
        <a href="">Início</a>
        <a href="">Sobre</a>
        <a href="#login">Login</a>
        <a href="/usuarios/cadastrar">Cadastrar-se</a>
        <label for="changeTheme">
          🌕
        </label>
        <input type="checkbox" id="changeTheme" class="changeTheme"/>
      </nav>
    </header>