<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Escolha dos Funcionários</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <script src='/style.js' defer></script>
</head>
<body class="altura1">
    <%- include('../partials/header.ejs') %>
    <section class="col-3 formGenerico margem">
        <h1>Contratar Funcionário</h1>
        <form class="col-4 center" action="/admin/setFuncionario" method="post">
            <h4>Nome</h4>
            <input type="text" name="nome">
            <h4>CPF</h4>
            <input type="text" name="cpf">
            <h4>Email</h4>
            <input type="email" name="email">
            <h4>Função</h4>
            <select id="funcao" name="funcao">
                <option value="Chefe de cozinha">Chefe de cozinha</option>
                <option value="Ajudante de Cozinha">Ajudante de Cozinha</option>
                <option value="Garçom">Garçom</option>
                <option value="Barman/Barwoman">Barman/Barwoman</option>
                <option value="Recepcionista">Recepcionista</option>
                <option value="Segurança">Segurança</option>
                <option value="Monitor">Monitor</option>
                <option value="Recrador">Recrador</option>
                <option value="Gerente de Eventos">Gerente de Eventos</option>
                <option value="Cerimonialista">Cerimonialista</option>
                <option value="Equipe de Limpeza">Equipe de Limpeza</option>
            </select><br>
            <button type="submit">Contratar</button>
        </form>
    </section>
</body>
</html>