<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Usuarios</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Contratantes:</h1><br>
    <% 
        if(todosContratantes){%>
            <% todosContratantes.forEach(contratante => {%>
                <form action="/admin/getFestasContratante">
                    <dt>Nome: <%= contratante.nome %></dt>
                    <dd>Email: <%= contratante.email %></dd>
                    <button>Ver Festas</button>
                </form>
            <%})%>
        <%}
    %>
</body>
</html>