<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Bem vindo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='style.css'>
    <script src='main.js'></script>
</head>
<body>
    <header>
        <a href="">Início</a>
        <a href="">Sobre</a>
        <a href="">Login</a>
        <a href="">Cadastrar-se</a>
    </header>

    <div id="middle">
        <h1 id="partytitle">PARTY.COM</h1>
        <h2 id="subtitle">PLANNING THE FUTURE OF YOUR HAPPINESS</h2>
    </div>

    <form action="/login" method="post">
        <h3 id="logintitle">Login</h3><br>
        <input type="text" name="usuario" placeholder="Usuario"><br>
        <input type="password" name="senha" placeholder="Senha"><br>
        <button type="submit" id="enterbutton">Entrar</button>
    </form>
    <footer>
        
    </footer>
</body>
</html>