<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Party.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
    <script src="/style.js" defer></script>
  </head>
  <body class="altura2">

    <%- include('../partials/header.ejs') %>

    <div id="background" class="col-12">
      <div id="middle" class="col-12">
        <h1 id="partytitle">PARTY.COM</h1>
        <h2 id="subtitle">PLANNING THE FUTURE OF YOUR HAPPINESS</h2>
      </div>
    </div>

    <section class="container col-6">
      <div id="text">
        <h3>
          Organize cada detalhe da sua festa de forma simples e profissional!
        </h3>
        <p>
          Centralize informações, tarefas e equipes em um só lugar. Com PARTY.COM,
          sua empresa economiza tempo, evita erros e garante eventos impecáveis,
          do planejamento à execução.
        </p>
      </div>

      <section class="formGenerico">
        <form id="login" class="center col-6" action="/usuarios/login" method="post">
          <h3 id="loginTitle">Login</h3>
          <br />
          <h4>Usuário:</h4>
          <input type="text" name="userName"/><br />
          <h4>Senha:</h4>
          <input type="password" name="senha"/>
          <button type="submit" id="enterbutton">Entrar</button>
        </form>
      </section>
      <% if(erroSenha) {%>
      <p>Ops, tivemos um erro com a senha, escreva de novo:</p>
      <%} %>
    </section>
    
  </body>
</html>