<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sobre nós</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <section class="container margem col-6">
        <h1>Sobre nós</h1>
        <p>Nosso sistema de gerenciamento de festas foi desenvolvido para facilitar a organização de eventos de forma prática, segura e eficiente. A plataforma conecta contratantes, funcionários e administradores em um único ambiente, permitindo controle completo sobre agendamentos, atribuições de equipe, dados dos clientes e detalhes das festas.
        Com uma interface simples e intuitiva, nosso objetivo é tornar a experiência de planejar eventos mais leve, rápida e organizada — para que cada festa seja inesquecível.</p>
    </section>
</body>
</html>