<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Criar Festa</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <script src='/style.js' defer></script>
</head>
<body class="altura1">
    <%- include('../partials/header.ejs') %>
    <main class="container margem">
    <% 
    if(nome)
        {%>    
            <h1>Crie sua festa dos sonhos!</h1>
            <h2>Vamos transformar seu sonho em realidade juntos, <%- nome %>, crie sua festa preenchendo os campos abaixo:</h2>
        <%} else {%>
            <h1>Crie sua festa dos sonhos!</h1>
            <h2>Vamos transformar seu sonho em realidade juntos, crie sua festa preenchendo os campos abaixo:</h2>
        <%}
    %>

        <section class="formGenerico">
            <form action="/usuarios/novaFesta" method="POST" class="col-5">
                <h4>Aniversariante</h4>
                <input type="text" name="aniversariante">
                <h4>Data</h4>
                <input type="date" name="data">
                <h4>horario</h4>
                <select name="horario" id="">
                    <option value="12h a 17h">12h a 17h</option>
                    <option value="18h a 00h">18h a 00h</option>
                </select>
                <h4>Tema</h4>
                <select name="tema">
                    <option value="Princesas">Princesas</option>
                    <option value="Ursinhos carinhosos">Ursinhos carinhosos</option>
                    <option value="Barbie">Barbie</option>
                    <option value="Herois">Herois</option>
                    <option value="Mickey">Mickey</option>
                    <option value="Hotwheels">Hotwheels</option>
                    <option value="Halloween">Halloween</option>
                    <option value="Natal">Natal</option>
                </select>
                <h4>Local</h4>
                <select name="local" id="">
                    <option value="Espaço Cristal Prime">Espaço Cristal Prime</option>
                    <option value="Jardim Secreto Eventos">Jardim Secreto Eventos</option>
                    <option value="Alegria & Companhia">Alegria & Companhia</option>
                </select>
                <h4>Quantos convidados?</h4>
                <input type="text" name="qtdConvidados">
                <button type="submit">Contratar</button>
            </form>
        </section>
        <% if(mensagem){%>
            <p><%- mensagem %></p>
            <%} %>
    </main>
</body>
</html>