<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Criar Festa</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <% 
    if(nome)
        {%>    
            <h1>Crie sua festa dos sonhos!</h1>
            <h2>Vamos transformar seu sonho em realidade juntos, <%= nome %>, crie sua festa preenchendo os campos abaixo:</h2>
        <%} else {%>
            <h1>Crie sua festa dos sonhos!</h1>
            <h2>Vamos transformar seu sonho em realidade juntos, crie sua festa preenchendo os campos abaixo:</h2>
        <%}
    %>

    <form action="/usuarios/novaFesta" method="POST">
        <input type="text" name="aniversariante" placeholder="Quem é o aniversariante?">
        <input type="date" name="data" placeholder="Data:">
        <input type="text" name="horario" placeholder="Horário:">
        <input type="text" name="tema" placeholder="Tema da decoração:">
        <input type="text" name="local" placeholder="Salão de preferêcia:">
        <input type="text" name="qtdConvidados" placeholder="Para quantas pessoas?">
        <button type="submit">Contratar festa</button>
    </form>
    <form action="/usuarios/logout" method="post">
        <button>Sair</button>
    </form>
</body>
</html>