<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Perfil de Usuário</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style.css'>
    <script src='/style.js' defer></script>
</head>
<body class="altura-1">
        <%- include('../partials/header.ejs') %>
        <section class="formGenerico col-5 margem">
            <form class="login" action="/usuarios/atualizarInformacoes" method="post">
                <%
                    if(usuario){%>
                        <input type="text" name="userName" placeholder="Nome de usuario">
                        <input type="password" name="novaSenha" placeholder="Nova senha">
                        <input type="password" name="confirmarSenha" placeholder="Confirme sua senha">
                        <button type="submit">Salvar</button>
                    <%}
                %>
            </form>
            <form action="/usuarios/excluirConta" method="post">
                <button>Excluir conta</button>
            </form>
            <p><%- mensagem %></p>
        </section>
</body>
</html>