@media (min-width: 1024px) {
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 1s;
    }

    .col-1{
    width: 8.33%;
    }
    .col-2{
    width: 16.66%;
    }
    .col-3{
    width: 25%;
    }
    .col-4{
    width: 33.33%;
    }
    .col-5{
    width: 41.66%;
    }
    .col-6{
    width: 50%;
    }
    .col-7{
    width: 58.33%;
    }
    .col-8{
    width: 66.66%;
    }
    .col-9{
    width: 75%;
    }
    .col-10{
    width: 83.33%;
    }
    .col-11{
    width: 91.66%;
    }
    .col-12{
    width: 100%;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    #background{
        display: flex;
        justify-content: center;
        background-image: url(/Imagens/background2.jpg);
        background-size: cover;
        height: 100vh;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f9fa;
        height: 50px;
        position: fixed;
    }

    #changeTheme{
        width: 20px;
    }

    #middle{
        color: white;
        align-self: center;
        text-align: center;
    }

    #partytitle{
        font-size: 200px;
    }

    #subtitle{
        font-size: 50px;
    }

    #socials{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 10px;
    }
    #container {
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        height: 300px;
    }
    #login{
        border-radius: 20px;
        border-color: black;
        background-color: #616161;
        align-self: center;
        position: absolute;
    };
}
