@media (min-width: 1024px) {
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 1s;
    text-decoration: none;
    }

    .col-1{
    width: 8.33%;
    }
    .col-2{
    width: 16.66%;
    }
    .col-3{
    width: 25%;
    }
    .col-4{
    width: 33.33%;
    }
    .col-5{
    width: 41.66%;
    }
    .col-6{
    width: 50%;
    }
    .col-7{
    width: 58.33%;
    }
    .col-8{
    width: 66.66%;
    }
    .col-9{
    width: 75%;
    }
    .col-10{
    width: 83.33%;
    }
    .col-11{
    width: 91.66%;
    }
    .col-12{
    width: 100%;
    }

    body{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 200vh;
    }

    .icon {
        width: 20px;
        height: 20px;
    }

    #background{
        display: flex;
        justify-content: center;
        background-image: url(/Imagens/background2.jpg);
        background-size: cover;
        height: 200vh;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f8f9fa;
        height: 50px;
        position: fixed;
    }

    #changeTheme{
        width: 20px;
    }

    #middle{
        color: white;
        align-self: center;
        text-align: center;
    }

    #partytitle{
        font-size: 200px;
    }

    #subtitle{
        font-size: 50px;
    }

    #socials{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
    }

    #container {
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
    }

    #login{
        border-radius: 20px;
        background-color: #121f2e;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        flex-direction: column;
    }

    #loginTitle {
        color: white;
        font-size: 35px;
        padding: 10px 20px;
    }
    input{
        border: none;
        border-radius: 10px;
        height: 30px;
        width: 250px;
        background-color: #296da9;
        color: white;
        font-size: 15px;
    }
    input::placeholder{
        color: white;
        font-size: 15px;
        padding-left: 5px;
    }
    button{
        margin-top: 20px;
        border: none;
        border-radius: 10px;
        height: 40px;
        width: 100px;
        background-color: #296da9;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
    input:focus{
        outline: none;
        background-color:#296da9;
    }
}