*{
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: right;
    flex-direction: row;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    background-color: white;
}

#navbar{
    width: 15%;
}
#background{
    background-image: url('./Imagens/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: static;
    height: 100vh;
    z-index: -1;
}

#middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}
#partytitle {
    font-size: 275px;
    font-weight: 800;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#subtitle {
    font-size: 75px;
    font-weight: 600;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}  
