* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 1s;
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 200vh;
}

.darkMode {
  background-color: #121212;
  color: white;
}

.changeTheme {
  display: none;
}

.icon {
  width: 30px;
  height: 30px;
}

#background{
    display: flex;
    justify-content: center;
    background-image: url(/Imagens/background2.jpg);
    background-size: cover;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    height: 50px;
    position: fixed;
}

main{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

#changeTheme{
    width: 20px;
}

#middle{
    color: white;
    align-self: center;
    text-align: center;
}

#partytitle{
    font-size: 275px;
}

#subtitle{
    font-size: 100px;
}

#socials{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
#container {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  height: 300px;
}
#login{
  border-radius: 20px;
  border-color: black;
  background-color: #616161;
  align-self: center;
  position: absolute;
};
