*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition-duration: 1s;
    text-decoration: none;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.altura1{
  height: 100vh;
}
.altura2{
  height: 200vh;
}
.margem{
  margin-top: 100px;
}
hr{
  width: 98%;
  height: 2px;
  border-color: rgb(255, 255, 255);
}
.lista{
  padding-left: 10px;
  margin-top: 70px;
  border-radius: 20px;
  background-color: #121f2e;
  align-self: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  padding-bottom: 10px;
}
.formGenerico{
  border-radius: 20px;
  background-color: #121f2e;
  align-self: center;
  display: flex;
  align-items: center;
  height: 30%;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
select{
  background-color: #296da9;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  width: 150px;
}
        .col-1{
          width: 8.33%;
          }
          .col-2{
          width: 16.66%;
          }
          .col-3{
          width: 25%;
          }
          .col-4{
          width: 33.33%;
          }
          .col-5{
          width: 41.66%;
          }
          .col-6{
          width: 50%;
          }
          .col-7{
          width: 58.33%;
          }
          .col-8{
          width: 66.66%;
          }
          .col-9{
          width: 75%;
          }
          .col-10{
          width: 83.33%;
          }
          .col-11{
          width: 91.66%;
          }
          .col-12{
          width: 100%;
          }


@media (min-width: 350px) and (max-width: 767px) {
  body{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.margem{
  margin-top: 130px;
}
.formGenerico{
  border-radius: 20px;
  background-color: #121f2e;
  align-self: center;
  display: flex;
  align-items: center;
  height: 50%;
  width: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
  .darkMode {
    background-color: #121212;
    color: white;
  }
  
  .changeTheme {
        display: none;
      }
      
      .icon {
        width: 20px;
      }
      
      #background{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/Imagens/background2.jpg);
        background-size: cover;
        height: 100vh;
      }
      
      header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: #f8f9fa;
        height: 130px;
      }
      nav{
        display: flex;
        height: 130px;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        justify-content: space-evenly;
        gap: 2px;
        width: 33%;
      }
      .sair{
        background-color: rgba(red, green, blue, 0);
        width: 10px;
        height: 10px;
        display: none;
      }
      
      main{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100vh;
    }
      
      #changeTheme{
        width: 20px;
    }
    
    #middle{
        color: white;
        text-align: center;
      }
      
      #partytitle{
        font-size: 50px;
    }
    
    #subtitle{
      font-size: 30px;
    }
    
    #socials{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 5px;
        height: 130px;
        width: 50px;
        gap: 5px;
      }
    #socials p{
      transform: rotate(90deg);
    }

      .container {
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100vh;
      }
      .containerPerfil {
        margin-top: 100px;
        border-radius: 20px;
        background-color: #121f2e;
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 20%;
      }

      .login{
        border-radius: 20px;
        background-color: #121f2e;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        flex-direction: column;
        color: white;
      }

      #loginTitle {
        color: white;
        font-size: 35px;
        padding: 10px 20px;
      }
h1{
  font-size: 30px;
  text-align: center;
}
h2{
  font-size: 20px;
}
      h4{
        color: white;
        font-size: 12px;
      }
      input{
        border: none;
        border-radius: 10px;
        height: 22px;
        width: 150px;
        background-color: #296da9;
        color: white;
        font-size: 12px;
      }
    input::placeholder{
      color: white;
    }
    button{
      border: none;
      border-radius: 10px;
      height: 25px;
      width: 120px;
      background-color: #296da9;
      color: white;
      font-size: 10px;
      cursor: pointer;
    }
    input:focus{
      outline: none;
        background-color:#296da9;
    }
  }
@media (min-width: 768px) and (max-width: 1919px) {
  body{
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
.formGenerico{
  border-radius: 20px;
  background-color: #121f2e;
  align-self: center;
  display: flex;
  align-items: center;
  height: 27%;
  width: 60%;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
  .darkMode {
    background-color: #121212;
    color: white;
  }
  
  .changeTheme {
        display: none;
      }
      
      .icon {
        width: 25px;
      }
      
      #background{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/Imagens/background2.jpg);
        background-size: cover;
        height: 100vh;
      }
      
      header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: #f8f9fa;
        height: 50px;
      }
      nav{
        display: flex;
        height: 30px;
        font-size: 12px;
        align-items: center;
        justify-content: space-evenly;
        gap: 2px;
        width: 33%;
      }
      .sair{
        background-color: rgba(red, green, blue, 0);
        width: 25px;
        height: 25px;
        display: none;
      }
      
      main{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      justify-content: space-evenly;
      height: 100vh;
    }
      
      #changeTheme{
        width: 20px;
    }
    
    #middle{
        color: white;
        text-align: center;
      }
      
      #partytitle{
        font-size: 115px;
    }
    
    #subtitle{
      font-size: 60px;
    }
    
    #socials{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 27%;
        gap: 10px;
      }

      .container {
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100vh;
      }
      .containerPerfil {
        margin-top: 100px;
        border-radius: 20px;
        background-color: #121f2e;
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 20%;
      }

      .login{
        border-radius: 20px;
        background-color: #121f2e;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 400px;
        flex-direction: column;
        color: white;
      }

      #loginTitle {
        color: white;
        font-size: 35px;
        padding: 10px 20px;
      }
h1{
  font-size: 30px;
}
h2{
  font-size: 20px;
}
      h4{
        color: white;
        font-size: 12px;
      }
      input{
        border: none;
        border-radius: 10px;
        height: 22px;
        width: 150px;
        background-color: #296da9;
        color: white;
        font-size: 12px;
      }
    input::placeholder{
      color: white;
    }
    button{
      border: none;
      border-radius: 10px;
      height: 25px;
      width: 120px;
      background-color: #296da9;
      color: white;
      font-size: 10px;
      cursor: pointer;
    }
    input:focus{
      outline: none;
        background-color:#296da9;
    }
  }
  @media (min-width: 1920px) {
    body{
      display:flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .darkMode {
      background-color: #121212;
      color: white;
    }
    
    .changeTheme {
      display: none;
    }
    
    .icon {
      width: 30px;
      height: 30px;
    }
    
    #background{
      display: flex;
      justify-content: center;
      background-image: url(/Imagens/background2.jpg);
      background-size: cover;
      height: 100vh;
    }
.formGenerico{
  border-radius: 20px;
  background-color: #121f2e;
  align-self: center;
  display: flex;
  align-items: center;
  height: 60%;
  width: 700px;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
    
    header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f8f9fa;
      height: 50px;
      position: fixed;
    }
nav{
  display: flex;
  height: 30px;
  font-size: 15px;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
  width: 20%;
}
.sair{
  display: none;
}
    
    main{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      justify-content: space-evenly;
      height: 100vh;
    }
    
    #changeTheme{
      width: 20px;
    }
    
    #middle{
      color: white;
      align-self: center;
      text-align: center;
    }
    
    #partytitle{
      font-size: 275px;
    }
    
    #subtitle{
      font-size: 100px;
    }
    
    #socials{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 18%;
    }
    
    .container {
      text-align: center;
      font-size: 25px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      height: 600px;
      gap: 50px;
    }
    .containerPerfil {
        margin-top: 200px;
        border-radius: 20px;
        background-color: #121f2e;
        text-align: center;
        font-size: 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 300px;
      }
    
    .login{
      border-radius: 20px;
      background-color: #121f2e;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height:550px;
      flex-direction: column;
      color: white;
    }
    
    #loginTitle {
      color: white;
      font-size: 35px;
      padding: 10px 20px;
    }
    
    h4{
      color: white;
      font-size: 15px;
    }
    input{
      border: none;
      border-radius: 10px;
      height: 30px;
      width: 250px;
      background-color: #296da9;
      color: white;
      font-size: 15px;
    }
    input::placeholder{
      color: white;
    }
    button{
      margin-top: 20px;
      border: none;
      border-radius: 10px;
      height: 40px;
      width: 160px;
      background-color: #296da9;
      color: white;
      font-size: 15px;
      cursor: pointer;
    }
    input:focus{
      outline: none;
      background-color:#296da9;
    }}