@media (min-width: 1920px) {
*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 1s;
  text-decoration: none;
}

body{
  display:flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 200vh;
  gap: 100px;
}
.altura{
  height: 100vh;
}
.darkMode {
  background-color: #121212;
  color: white;
}

.changeTheme {
  display: none;
}

.icon {
  width: 30px;
  height: 30px;
}

#background{
  display: flex;
  justify-content: center;
  background-image: url(/Imagens/background2.jpg);
  background-size: cover;
  height: 100vh;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  height: 50px;
  position: fixed;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

#changeTheme{
  width: 20px;
}

#middle{
  color: white;
  align-self: center;
  text-align: center;
}

#partytitle{
  font-size: 275px;
}

#subtitle{
  font-size: 100px;
}

#socials{
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
}

.container {
  text-align: center;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 600px;
  gap: 50px;
}

.login{
  border-radius: 20px;
  background-color: #121f2e;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height:550px;
  flex-direction: column;
  color: white;
}

#loginTitle {
  color: white;
  font-size: 35px;
  padding: 10px 20px;
}

h4{
  color: white;
  font-size: 15px;
}
input{
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  background-color: #296da9;
  color: white;
  font-size: 15px;
}
input::placeholder{
  color: white;
  font-size: 15px;
  padding-left: 5px;
}
button{
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  background-color: #296da9;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
input:focus{
  outline: none;
  background-color:#296da9;
}}