* {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  background-color: white;
}
#socials {
  display: flex;
  justify-content: center;
  width: 17%;
  align-items: center;
}

#socials img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

navbar {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 20%;
}

.sliderround {
  width: 40px;
  height: 20px;
  justify-content: flex-end;
  color: black;
  border: 2px;
}

#background {
  background-image: url("./Imagens/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  height: 100vh;
  z-index: -1;
}

a {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

#middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
}
#partytitle {
  font-size: 275px;
  font-weight: 800;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

#subtitle {
  font-size: 75px;
  font-weight: 600;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
#container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
h3 {
  font-size: 50px;
}

input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #707070;
  border-radius: 10px;
}
input::placeholder {
  color: white;
}
#login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#logintitle {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
