* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.darkMode{
    background-color: #121212;
    color: white;
}
.changeTheme{
    display: none;
}
.icon{
    width: 30px;
    height: 30px;
}
#background{
    background-image: url(/Imagens/background2.jpg);
    background-size: cover;
    height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
}
#changeTheme{
    width: 20px;
}