#partytitle{
    font-size: 500px;
    font-weight: bolder;
    font: arial;
    color: rgb(255, 0, 0)
}
h1{
    font-size: 500px;
    font-weight: bolder;
    font: arial;
    color: rgb(255, 0, 0)
}